body {
  /* background-color: rgb(230, 237, 240); */
  background: linear-gradient(to left, rgb(230, 237, 240), rgb(167, 167, 167));
  padding: 4em;
  color: rgb(53, 50, 50);
}

h1 {
  color: rgb(63, 27, 52);
}

.container {
  background-color: ;
}

/* img#right {
  width: 12%;
  height: auto;
  float: right;
  padding-left: 20px;;
  margin-right: 60px;
}

img#left {
  width: 12%;
  height: auto;
  float: left;
  padding-right: 20px;;
} */

.btn {
  display: block;
  border-width: .2em;
  background: linear-gradient(rgb(175, 173, 173), rgb(156, 155, 155))
}

#match, #Javascript, #Python, #Ruby {
  display: none;
}

#languageChoice {
  font-size: 1em;
  font-weight: bold;
  color: rgb(63, 27, 52);
}

#end, #ease, #speed, #ways, #chocolate {
	display: block;
	font-size: .9em;
  padding: .6em;
	width: 60%;
	border-radius: .5em;
  background: linear-gradient(rgb(231, 229, 229), rgb(179, 176, 176));
}

span#language {
  font-weight: bold;
}

img {
  max-width: 60%;
  max-heigth: auto;
  display: block;
  align-self: left;
  border: groove rgb(63, 27, 52) 10px;
  }
